<% if flash[:alert] %>
	<p id="notice"><%= flash[:alert] %></p>
<% end %>

<div style="text-align: center">
	<%= form_tag({},{:class => 'form-horizontal', :style => "display:inline-block" }) do %>
		<legend>Please Log In</legend>
		<div class="control-group">
			<%= label_tag :name, 'User Name:', :class =>"control-label" %>
			<div class="controls">
				<%= text_field_tag :name, params[:name] %>
			</div>
		</div>
		<div class="control-group">
			<%= label_tag :password, 'Password:',  :class =>"control-label" %>
			<div class="controls">
				<%= password_field_tag :password, params[:password] %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= submit_tag "Login", :class => "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div

