<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="nav nav-stacked">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>Enter User Details</legend>
    <div class="field">
      <%= f.label :name, 'UserName:' %><br />
      <%= f.text_field :name, size: 40%>
    </div>
    <div class="field">
      <%= f.label :password, 'Password:' %><br />
      <%= f.password_field :password, size: 40%>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, 'Confirm:' %><br />
      <%= f.password_field :password_confirmation, size: 40 %>
    </div>
    <% if session[:user_id] && User.find_by_id(session[:user_id]).role == User::ROLES[2] %>
    <div class="field">
      <%= f.label :role, 'User\'s Role:' %>
      <%= f.select :role, User::ROLES %>
    </div>
    <% end %>
    <div class ="field">
      <%= f.label :photo, 'Profile Pic:' %>
      <%= f.file_field :photo %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
