  <% if notice %>
  <p class="alert alert-info"><%= notice %></p>
  <% end %>
<h1>Listing users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.role %></td>
        <td>
          <% if user.photo.exists? %>
            <%= image_tag user.photo(:thumb) %>
            <% else %>
            <%= image_tag 'user_default.jpg' %>
          <% end %>
        </td>
        <% if user.id == session[:user_id] || (User.find_by_id(session[:user_id]).role == User::ROLES[2]) %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

