<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1><%= @user.name %></h1>

<% if @user.photo.exists? %>
	<%= image_tag @user.photo(:large) %>
<% else %>
	<%= image_tag 'user_default_large.jpg' %>
<% end %>

<br /><br />

<%= link_to 'Back', users_path %>
