<h1>User Profile</h1>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>


<% if @user.photo.exists? %>
	<%= image_tag @user.photo(:large) %>
<% else %>
	<%= image_tag 'user_default_large.jpg' %>
<% end %>
<h3><%= @user.name %></h3>

<br /><br />

<%= link_to 'Back', users_path %>