<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course, "Subject" %><br />
    <%= select_tag 'subject_id', options_for_select(Subject.all.collect{ |s| [s.abrev, s.id]}), :include_blank => true %>
  </div>  
  <div class="field">
    <%= f.label :course %><br />
    <%= f.select :course_id, {} %>
  </div>
   <div class="field">
    <%= f.label :instructor_id %><br />
    <%= collection_select :section, :instructor_id, Instructor.order(:name), :id, :name, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :term %><br />
    <%= f.select :term, Section::TERMS, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </div>
  <div class="field">
    <%= f.label :crn %><br />
    <%= f.text_field :crn %>
  </div>
  <table class="table">
    <div class="field">
      <tr>
        <td></td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
      </tr>
      <tr>
        <td><%= f.label :days %></td>
        <td><%= check_box_tag "section[days][monday]", "1",  @section.days[:monday] == "1" ? true : false %>
        <td><%= check_box_tag "section[days][tuesday]", "1",  @section.days[:tuesday] == "1" ? true : false %></td>
        <td><%= check_box_tag "section[days][wednesday]", "1",  @section.days[:wednesday] == "1" ? true : false %></td>
        <td><%= check_box_tag "section[days][thursday]", "1",  @section.days[:thursday] == "1" ? true : false %></td>
        <td><%= check_box_tag "section[days][friday]", "1",  @section.days[:friday] == "1" ? true : false %></td>
      </tr>
    </div>
    <div class="field">
      <tr  class="section_time">
        <td><%= f.label :time_start, "Start Time" %></td>
        <td><%= text_field_tag "section[time_start][monday]", @section.time_start[:monday], maxlength: 4 %></td>
        <td><%= text_field_tag "section[time_start][tuesday]", @section.time_start[:tuesday], maxlength: 4 %></td>
        <td><%= text_field_tag "section[time_start][wednesday]", @section.time_start[:wednesday], maxlength: 4 %></td>
        <td><%= text_field_tag "section[time_start][thursday]", @section.time_start[:thursday], maxlength: 4 %></td>
        <td><%= text_field_tag "section[time_start][friday]", @section.time_start[:friday], maxlength: 4 %></td>
      </tr>
    </div>
    <div class="field">
      <tr  class="section_time">
        <td><%= f.label :time_end, "End Time" %></td>
        <td><%= text_field_tag "section[time_end][monday]", @section.time_end[:monday], maxlength: 4 %></td>
        <td><%= text_field_tag "section[time_end][tuesday]", @section.time_end[:tuesday], maxlength: 4 %></td>
        <td><%= text_field_tag "section[time_end][wednesday]", @section.time_end[:wednesday], maxlength: 4 %></td>
        <td><%= text_field_tag "section[time_end][thursday]", @section.time_end[:thursday], maxlength: 4 %></td>
        <td><%= text_field_tag "section[time_end][friday]", @section.time_end[:friday], maxlength: 4 %></td>
      </tr>
    </div>
  </table>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
