<h1>Listing sections</h1>

<table class="table table-striped">
  <thead>
    <th>Year</th>
    <th>Term</th>
    <th>Section</th>
    <th>CRN</th>
    <th>Days</th>
    <th>Instructor</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @sections.each do |section| %>
  <tr>
    <td><%= section.year %></td>
    <td><%= section.term %></td>
    <td><%= section.section %></td>
    <td><%= section.crn %></td>
    <td>
        <% section.time_start.each do |key, value| %>
            <% string = key.capitalize[0].strip %>
            <% if key.capitalize[0] == 'T' %>
                <% string << key[1] %>
            <% end %>
            <%= string %>
        <% end %>
    </td>
    <td><%= section.instructor.name %></td>
    <td><%= link_to 'Show', section %></td>
    <td><%= link_to 'Edit', edit_section_path(section) %></td>
    <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_section_path %>
