<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @section.course.subject.abrev+" "+@section.course.number.to_s %>
</p>

<p>
  <b>Instructor:</b>
  <%= @section.instructor.name %>
</p>

<p>
  <b>Year:</b>
  <%= @section.year %>
</p>

<p>
  <b>Term:</b>
  <%= @section.term %>
</p>

<p>
  <b>Section:</b>
  <%= @section.section %>
</p>

<p>
  <b>CRN:</b>
  <%= @section.crn %>
</p>

<p>
  <b>Days:</b>
</p>
<div  style="max-width:500px">
  <table class = "table" >
    <thead>
      <% @section.time_start.each do |key, value| %>
        <% if value!="" %>
          <th><%= key.capitalize %></th>
        <%end%>
      <%end%>
    </thead>
    <tr>
      <% @section.time_start.each do |key, value| %>
        <% if value!="" %>
          <td><%= value %></td>
        <%end%>
      <%end%>
    </tr>
    <tr>
      <% @section.time_start.each do |key, value| %>
        <% if value!="" %>
          <td><%= @section.time_end[key.to_sym] %></td>
        <%end%>
      <%end%>
    </tr>
  </table>
</div>


<% if User.find_by_id(session[:user_id]).role != User::ROLES[0] %>
<%= link_to 'Edit', edit_section_path(@section) %> |
<%end%>
<%= link_to 'Back', sections_path %>
