<h1>Listing courses</h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Number</th>
      <th>Name</th>
      <th>Sections</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @courses.each do |course| %>
  <tr>
    <td><%= course.subject.abrev %></td>
    <td><%= course.number %></td>
    <td><%= course.name %></td>
    <td><%= course.sections.length %></td>
    <% if User.find_by_id(session[:user_id]).role != User::ROLES[0] %>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td></td>
    <td></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
