
<% if notice %>
<p class="alert alert-info"><%= notice %></p>
<% end %>

<h1>Listing courses</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Number</th>
      <th>Name</th>
      <th>Sections<br/>(Click to View)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @courses.each do |course| %>
  <tr>
    <td><%= course.subject.abrev %></td>
    <td><%= course.number %></td>
    <td><%= course.name %></td>
    <td><%= link_to course.sections.length, sections_url(:course_id => course.id) %></td>
    <% if User.find(session[:user_id]).courses.exists?(course) %>
    <td><%= image_tag 'icon_checkmark_green_small.png' %></td>
    <% else %>
    <td><a href=<%=course.id%> class="taken">Completed?</a></td>
    <%end%>
    <% if User.find_by_id(session[:user_id]).role != User::ROLES[0] %>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td></td>
    <td></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<% if User.find_by_id(session[:user_id]).role != User::ROLES[0] %>
<%= link_to 'New Course', new_course_path %> |
<%= link_to 'New Subject', new_subject_path %>
<%end%>